<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podcastia - Landing Page</title>
</head>

<body>
<h1>Bem-vindo ao Podcastia!</h1>
<p>Descubra, compartilhe e crie podcasts com facilidade. Junte-se à nossa comunidade e explore conteúdos incríveis.
</p>
<div th:if="${session.userId == null}">
    <form>
        <button formaction="/login" type="submit">Entrar</button>
        <button formaction="/register" type="submit">Criar Conta</button>
    </form>
</div>
<div th:if="${session.userId != null}">
    <form>
        <button formaction="/profile" type="submit">Ir para o Meu Perfil</button>
        <button formaction="/logout" type="submit">Sair</button>
    </form>
</div>
</body>

</html>